DB_HOST=database-dev
DB_USER=
DB_PASSWORD=
DB_SCHEMA=
DB_PORT=
BACKEND_PORT=
GATEWAY_PORT=
DB_HOST_E2E=database-e2e
JWT_SECRET=
COOKIE_TTL=
DOCKER_HUB_USERNAME=
DOCKER_HUB_CLIENT_IMAGE_NAME=
DOCKER_HUB_SERVER_IMAGE_NAME=
DOCKER_HUB_FILES_IMAGE_NAME=
GOOGLE_APP_PASSWORD=
GOOGLE_APP_EMAIL=
VITE_API_URL=http://localhost:7001/api
VITE_WS_URL=http://localhost:7001